.lock:hover{
  background: url(/image/lock-up.png);
}

.lock{
  height: 32px;
  width: 20px;
  background: url(/image/lock.png);
}

#work-name, #work-url{
  border-width: 1px;
  border-color: rgb(72, 203, 232);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(251, 252, 253);
  width: 316px;
  height: 37px;
  margin-bottom: 9px;
}

.modal-sbm{
border-radius: 5px;
border: none;
  background-color: rgb(72, 203, 232);
  width: 140px;
  height: 31px;
  box-shadow: 0px 2px 0px rgb(59,168,192);
  -webkit-box-shadow: 0px 2px 0px rgb(59,168,192);
  -moz-box-shadow: 0px 2px 0px rgb(59,168,192);
  font-family: "fira_sansbook";
  font-size: 19px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  margin-left: 90px;
}

#work-pic{
  display: none;
}

.work-png{
  margin-left: 268px;
  margin-top: -1px;
  cursor: pointer;
}

.work-pic-box{
  border-width: 1px;
  border-color: rgb(72, 203, 232);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(251, 252, 253);
   width: 270px;
  height: 39px;
  margin-bottom: 7px;
}

#work-about{
border-width: 1px;
  border-color: rgb(72, 203, 232);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(251, 252, 253);
  width: 315px;
  height: 105px;
}

.work-label{
  font-family: "fira_sansbook";
font-size: 17px;
color: rgb(149, 154, 168);
}

.modal-box{
  position: static;
  height: 493px;
  width: 362px;
  background: rgb(239,243,247);
  border-radius: 5px;
  margin:0 auto;
  overflow: hidden;
}

.modal-header{
  height: 53px;
  width: 362px;
  background: rgb(72,203,232);
}

.close{
  position: absolute;
  margin-left: 325px;
  margin-top: 10px;
}

.modal-header-foot{
  position: absolute;
  height: 9px;
  width: 362px;
  background: rgb(103,223,250);
  margin-top: 44px;
}

.modal-form{
  margin-left: 21px;
  margin-top: 7px;
}

.modal-header-text{
  font-family: 'fira_sansregular';
  font-size: 25px;
  color: rgb(255, 255, 255);
  position: absolute;
  margin-top: 5px;
  margin-left: 12px;
  font-weight: lighter;
}

.work-item{
    display: inline-block;
    margin-left: 23.5px;
  margin-bottom: 110px;
 
}

.work-text{
  text-decoration: none;
}

.works-add-text{
  position: absolute;
  font-family: 'fira_sanslight';
  font-size: 13px;
  color: rgb(59, 168, 192);
  text-decoration: none;
  margin-top: 75px;
  margin-left: 40px;
}

.works-add{
  position: absolute;
  margin-top: 33px;
  margin-left: 75px;
}

.work-text{
  position: absolute;
  color: white;
  font-family: "fira_sansbook";
  font-size: 0px;
  margin-left: 5px;
} 


.work-link{
  border-width: 0px;
  border-color: rgb(239, 243, 247);
  border-style: solid;
  border-radius: 4px;
  width: 0px;
  height: 0px;
  position: absolute;
  margin-top: -78px;
  margin-left: 75px;
  
}

.work-add-wrapper{
  position: relative;
    height: 126px;
  width: 180px;
  border: 2px dashed rgb(114,191,208);
  border-radius: 4px;
  overflow: hidden;
}

.work-wrapper{
  position: relative;
    height: 126px;
  width: 180px;
  border: 2px solid rgb(114,191,208);
  border-radius: 4px;
  overflow: hidden;
  background-color: rgb(61,142,185);
}


.site-address{
  font-family: 'fira_sanslight_italic';
  font-size: 13px;
  color: rgb(59, 168, 192);
  text-align: center;
  margin-top: 7px;
  margin-left: 56px;
  position: absolute;
}

.about-site{
  position: absolute;
  font-size: 15px;
  font-family: 'fira_sanslight';
color: rgb(74, 84, 93);
  text-align: center;
  width: 170px;
  line-height: 111%;
 margin-top: 36px;
 margin-left: 8px;

}

.work-box{
  margin-top: -0.3px;
  margin-left: -0.5px;
}

.workslist{
    margin-top: 7px;
    margin-left: -49px;
  display: inline-block;
}   

.content-box-body{
    padding-left: 7px;
}

.content-box-head{
      display: inline-block;
    margin: 0 0 21px;
  padding: 14px 23px;
    line-height: 38px;
    border-bottom: 2px solid #3ba8c0;
  font-size: 27px;
  font-family: "fira_sansbook";
  font-weight: 400;
  color: #3ba8c0;
}

.content-box{
    margin-bottom: 26px;
  background: rgb(239,243,247);
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 243px;
}

.main-content{
    float: right;
    width: 649px;
    margin-bottom: 96px;
}

.navigation-links{
    float: left;
    width: 250px;
    margin-left: 3px;
    margin-top: -2px;
}

.adrs-links{
    margin-top: 0px;
    margin-left: -40px;
}

.adrs-link-1, .adrs-link-2, .adrs-link-3{
    font-family: "fira_sansbook";
  font-style: normal;
   color:white;
   font-size: 17px;
   text-decoration: none;
    position: absolute;
    
}

.adrs-link-1:hover, .adrs-link-2:hover, .adrs-link-3:hover{
    text-decoration: underline;
}

.address-head-text{
    position: absolute;
    margin-top: 7px;
    margin-left: 19px;
    color: white;
    font-size: 21px;
  font-family: "fira_sansbook";
  font-style: normal;
}

.adrs-img{
    position: absolute;
    margin-top: 10px;
    margin-left: 42px;
}

.adrs-link-1{
margin-top: 9px;
padding-left: 83px;
}

.adrs-link-2, .adrs-link-3{
    margin-top: 9px;
    padding-left: 83px;
}

.adrs-item-3{
    background-color: rgb(81,218,248);
    border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;    
}

.adrs-item-2{
    background-color: rgb(72,203,232);
}

.adrs-item-1{

    background-color: rgb(65,185,212);
}

.address-head, .adrs-item{
    height: 40px;
    width: 250px;
}

.address-links{
    height: 160px;
    width: 250px;
    border-radius: 4px;
    background-color: rgb(59,168,192);
}

.main-nav{
   background-color: rgb(239,243,247);
    height: 218px;
    width: 250px;
    border-radius: 4px;
    margin-bottom: 23px;
    margin-top: -20px;
}

.main-nav-head{
    background-color: rgb(59,168,192);
    height: 73px;
    width: 250px;
    margin-top: 32px;
    margin-left: -40px;
}

.nav-active{
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 27px;
    font-size: 23px;
  font-family: "fira_sansbook";
  text-decoration: none;
}

.nav-item{
padding: 20px;
}

.nav-link{
    position: absolute;
    font-size: 21px;
  font-family: "fira_sansbook";
  color:rgb(167,172,184);
  text-decoration: none;
    margin-left: -33px; 
    margin-top: 3px;
}

.nav-link:hover{
    color: rgb(143,203,218);
}

.nav-link-2{
    margin-top: 1px;
}


.foot-container{
      position: relative;
  max-width: 1200px;
  margin: 0 auto;
 } 

.footer{
  min-width: 960px;
  height: 80px;
  background: url(/image/gr-line.png) top center no-repeat #eff3f7;
}

.lock{
    position: absolute;
    margin-left: 152px;
    margin-top: 25px;
}

.copyright{
    position: absolute;
  margin-left: 406px;
margin-top: 32px;
  font-size: 13px;
  font-family: "fira_sanslight";
  color: rgb(74, 84, 93);

}   

.wrapper ,html ,body{
    height:100%;
}

.wrapper{
    display: table;
    width: 100%;
    margin:0 auto;
}

.main-container{
      width: 960px;
  margin: 0 auto;
}

.page-head{
    position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header{
  position: relative;
  min-width: 960px;
  height: 119px;
  margin-bottom: 39px;
  background: url(/image/gr-line.png) bottom center no-repeat #eff3f7;
}

.social-link-vk:hover{
    width: 48px;
    height: 48px;
    background-position: -395px -165px;
}

.social-link-fb:hover{
    width: 48px;
    height: 48px;
    background-position: -175px -5px;
}

.social-link-tw:hover{
     width: 48px;
    height: 48px;
    background-position: -281px -165px;
}

.social-link-git:hover{
    width: 48px;
    height: 48px;
    background-position: -5px -62px;
}

.social-item{
    display:inline-block;
    padding-right:19.6px;
  width: 48px;
  height: 48px;
}

.social-icons{
    position: absolute;
  top:16px;
  right: -26px;
}

.logo{
    position: absolute;
  top: 38px;
  left: 0;
}

body{
    background-image: url("/image/comppattern2.png");
}

.socials, .nav-links, .adrs-links, .aboutme-list, .skills, .workslist, .edulist{
    list-style: none;
}
.sprite {
    background-image: url(/image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bag {
    width: 36px;
    height: 34px;
    background-position: -5px -5px;
}

.sprite-doc {
    width: 26px;
    height: 32px;
    background-position: -51px -5px;
}

.sprite-email {
    width: 21px;
    height: 16px;
    background-position: -87px -5px;
}

.sprite-fb {
    width: 48px;
    height: 48px;
    background-position: -118px -5px;
}

.sprite-fb-hv {
    width: 47px;
    height: 47px;
    background-position: -175px -5px;
}

.sprite-git {
    width: 48px;
    height: 48px;
    background-position: -232px -5px;
}

.sprite-git-hv {
    width: 47px;
    height: 47px;
    background-position: -5px -62px;
}

.sprite-hat {
    width: 41px;
    height: 23px;
    background-position: -62px -62px;
}

.sprite-lock {
    width: 20px;
    height: 32px;
    background-position: -289px -5px;
}

.sprite-logo-girl {
    width: 150px;
    height: 150px;
    background-position: -5px -147px;
}

.sprite-logo-man {
    width: 150px;
    height: 150px;
    background-position: -319px -5px;
}

.sprite-phone {
    width: 19px;
    height: 20px;
    background-position: -165px -165px;
}

.sprite-skype {
    width: 20px;
    height: 20px;
    background-position: -194px -165px;
}

.sprite-tw {
    width: 48px;
    height: 48px;
    background-position: -224px -165px;
}

.sprite-tw-hv {
    width: 47px;
    height: 47px;
    background-position: -281px -165px;
}

.sprite-vk {
    width: 48px;
    height: 48px;
    background-position: -338px -165px;
}

.sprite-vk-hv {
    width: 47px;
    height: 47px;
    background-position: -395px -165px;
}

.wrapper{
    position:relative;
    min-height:100%;
    height:auto!important;
    overflow:hidden;
}
.wrapper:after {
    content: "";
    height: 80px;
    display: block;
}
.footer{
    height: 80px;
    margin-top: -80px;  
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}